<?xml version="1.0"?>
<launch>

  <!-- Note that if namespace has the slash, i.e., /xxx, then if you put <rosparam ns=="$(arg namespace)" ... /> inside a <group ns="$(arg namespace)">, the actual namespace is /xxx. However, if namespace does not have slash, i.e., xxx, then if you put that rosparam with ns inside that group with ns, the actual namespace will be /xxx/xxx. Therefore, in that case, we cannot put the rosparam with ns inside a group with ns. -->

  <arg name="namespace_without_slash" default="??namespace_with_slash??"/>
  <arg name="namespace_with_slash" default="/$(arg namespace_without_slash)"/>


  <!-- <rosparam command="load" file="$(find husky_control)/config/control.yaml" /> -->
  <rosparam command="load" file="$(find husky_control)/config/control.yaml" ns="$(arg namespace_with_slash)" />

  <group ns="$(arg namespace_with_slash)">
    <node name="base_controller_spawner" pkg="controller_manager" type="spawner" args="husky_joint_publisher husky_velocity_controller --shutdown-timeout 3"/>
  </group>


  <group ns="$(arg namespace_with_slash)">
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find husky_control)/config/localization.yaml" />
    </node>
  </group>


  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>


  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find husky_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="$(arg namespace_with_slash)/husky_velocity_controller/cmd_vel"/>
  </node>

</launch>
